### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
players_df = purchase_data_df.groupby("SN")["SN"].nunique()
players_df.count()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Number of unique items 
items_df = purchase_data_df.groupby("Item Name")["Item Name"].nunique()
#Average purchase price
average_price_df = purchase_data_df["Price"].mean()
#Total number of purchases
total_purchases_df = len(purchase_data_df)
#Total rev.
total_revenue_df = purchase_data_df["Price"].sum()
total_revenue_df.round(2)
#Create dataframe
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[items_df.count()],
                                             "Average Purchase Price":[average_price_df],
                                            "Total Number of Purchases":[total_purchases_df],
                                             "Total Revenue":[total_revenue_df]})
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Count players by gender
gender_count = purchase_data_df.groupby("Gender")["SN"].nunique()
#Calculate percentages
gender_percentage = gender_count/573*100
#Create dataframe
gender_demographics_df = pd.DataFrame({"Gender Count": gender_count,"Gender Percentage":gender_percentage.round(2)})
gender_demographics_df

                       Gender Count  Gender Percentage
Gender
Female                           81              14.14
Male                            484              84.47
Other / Non-Disclosed            11               1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Count number of purchases by each gender
gender_purchases = purchase_data_df.groupby("Gender")["Item Name"]
#Calculate average total for each gender
gender_average = purchase_data_df.groupby("Gender")["Price"].mean()
#Calculate total for each gender
gender_total = purchase_data_df.groupby("Gender")["Price"].sum()
#Calculate overall total average by gender
avg_gender_total = gender_total/gender_count
#Create dataframe
gender_analysis_df = pd.DataFrame({"Purchase Count":gender_purchases.count(), 
                                   "Average Purchase Price":gender_average.round(2),
                                   "Total Purchase Value":gender_total,
                                   "Totals by Gender":avg_gender_total.round(2)})
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Totals by Gender
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
#Create bins and labels to hold age groups 
bins = [0,10,15,20,25,30,35,40, 45]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]
pd.cut(purchase_data_df["Age"], bins, labels= age_ranges)
purchase_data_df["Age Range"] = pd.cut(purchase_data_df["Age"], bins, labels= age_ranges)
purchase_data_df["Age Range"].head()

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
Name: Age Range, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '>=40']

In [14]:
age_group_percentage_df = round(purchase_data_df["Age Range"].value_counts()/780,2)
age_group_percentage_df.head()

20-24    0.42
15-19    0.26
25-29    0.10
10-14    0.07
30-34    0.07
Name: Age Range, dtype: float64

In [16]:
age_group_count_df = purchase_data_df.groupby("Age Range")["Item Name"]

In [18]:
age_group_average_df = purchase_data_df.groupby("Age Range")["Price"].mean()
age_group_average_df.head()

Age Range
<10      3.405000
10-14    2.900000
15-19    3.107800
20-24    3.020431
25-29    2.875584
Name: Price, dtype: float64

In [20]:
age_group_total_df = purchase_data_df.groupby("Age Range")["Price"].sum()
age_group_total_df.head()

Age Range
<10      108.96
10-14    156.60
15-19    621.56
20-24    981.64
25-29    221.42
Name: Price, dtype: float64

In [21]:
normalized_age_total_df = age_group_total_df/573
normalized_age_total_df.head()

Age Range
<10      0.190157
10-14    0.273298
15-19    1.084747
20-24    1.713159
25-29    0.386422
Name: Price, dtype: float64

In [25]:
age_range_df = pd.DataFrame({"Purchase Count":age_group_count_df,
                            "Average Purchase Price":age_group_average_df,
                            "Total Purchase Value": age_group_total_df,
                            "Normalized Totals": normalized_age_total_df
},dtype="object")
age_range_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Range,,,,
<10,"(<10, [Blood-Forged Skeletal Spine, Faith's Sc...",3.405,108.96,0.190157
10-14,"(10-14, [Demise, Extraction, Quickblade Of Tre...",2.9,156.6,0.273298
15-19,"(15-19, [Extraction, Quickblade Of Trembling H...",3.1078,621.56,1.08475
20-24,"(20-24, [Final Critic, Blindscythe, Fury, Drea...",3.02043,981.64,1.71316
25-29,"(25-29, [Blazefury, Protector of Delusions, Pe...",2.87558,221.42,0.386422
30-34,"(30-34, [Ghastly Adamantite Protector, Bone Cr...",2.99442,155.71,0.271745
35-39,"(35-39, [Frenzied Scimitar, Interrogator, Bloo...",3.40455,112.35,0.196073
>=40,"(>=40, [Aetherius, Boon of the Blessed, Demise...",3.07571,21.53,0.0375742

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
players_purchase_count_df = purchase_data_df.groupby("Age Range").count()["Price"].rename("Purchase Count")
players_average_price_df = purchase_data_df.groupby("Age Range").mean()["Price"].rename("Average Purchase Price")
players_total_df = purchase_data_df.groupby("Age Range").sum()["Price"].rename("Total Purchase Value")

total_user_data_df = pd.DataFrame({"Purchase Count":players_purchase_count_df,
                                   "Average Purchase Price": players_average_price_df,
                                   "Total Purchase Value": players_total_df})
total_user_data_df.head()

           Purchase Count  Average Purchase Price  Total Purchase Value
Age Range
<10                    32                3.405000                108.96
10-14                  54                2.900000                156.60
15-19                 200                3.107800                621.56
20-24                 325                3.020431                981.64
25-29                  77                2.875584                221.42

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [47]:
players_purchase_count_df = purchase_data_df.groupby("SN").count()

In [48]:
# Group purchase data by screen names
spender_stats = purchase_data_df.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
most_popular_items_df = items_purchased_df.sort_values("Purchase Count", ascending=False)
most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [36]:
most_profitable_items_df = items_purchased_df.sort_values("Total Purchase Value", ascending=False)
most_profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80